@use "sass:map";
@use "mixins";
@use "variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
html,
body {
  @include mixins.pxRem(font-size, 16);
  font-family: variables.$font-body;
  position: relative;
  font-weight: 400;
  color: map.get(variables.$color, slate-grey-a);
  line-height: 1.7;
  letter-spacing: 0.8px;
  background-color: map.get(variables.$color, white);
  overscroll-behavior: contain;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: map.get(variables.$color, primary);
  }
}

img {
  max-width: 100%;
  width: 100%;
}
