// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px,
  super-largest: 1441px
);

$color: (
  primary:  #646cff,
  red: #e61e56,
  orange-a: #a17143,
  grey-a: #f3f3f3,
  grey-b:#888888,
  grey-c: #dee2e6,
  blue: #61dafbaa,
  black: #000000,
  white: #ffffff
);

$font-size: (
  xs:     11px,
  sm:     13px,
  normal: 16px,
  lg:     18px,
  xl:     20px,
  xxl:    24px,
  xxxl:   30px
);

$font-body: san-serif;
$font-japan: serif;

$space-value : 5;
$size-list : 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;