@use "sass:map";
@use "../base/variables" as vars;
@use "../base/mixins" as mixins;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px map.get(vars.$color, white) inset !important;
}

.form {
  position: relative;

  .form-group {
    @include mixins.pxRem(margin-bottom, 24);
    position: relative;

    &.form-group-icon {
      @include mixins.pxRem(padding-left, 36);
      display: flex;
      align-items: center;
      width: 100%;
    }

    .icon {
      position: absolute;
      left: 0;
      color: rgba(0, 0, 0, 0.54);
    }

    .input-append {
      color: rgba(0, 0, 0, 0.54);
      cursor: pointer;
    }
  }

  .form-control {
    @include mixins.pxRem(border-radius, map.get(vars.$border-radius, rounded));
    @include mixins.pxRem(padding, 14 20);
    @include mixins.pxRem(font-size, map.get(vars.$font-size, normal));
    @include mixins.pxRem(line-height, 22.4);
    width: 100%;
    color: map.get(vars.$color, text-primary);
    outline: none;
    border: 1px solid map.get(vars.$color, border);

    &.input-underline {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid map.get(vars.$color, border);
      position: relative;

      & + .line {
        @include mixins.pxRem(height, 2);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        background-color: map.get(vars.$color, primary);
        transition: all 0.3s ease-in-out;
      }

      &.is-invalid ~ .line {
        display: none;
      }

      &:focus {
        & + .line {
          width: 100%;
        }

        &::placeholder {
          opacity: 1;
        }
      }
    }

    &.is-invalid {
      border-color: map.get(vars.$color, danger);

      + .form-label {
        color: map.get(vars.$color, danger);
      }
    }

    &:focus,
    &:not(:placeholder-shown) {
      ~ .form-label {
        opacity: 1;
        transform: translateY(0);
        color: map.get(vars.$color, primary);
      }

      &::placeholder {
        opacity: 0;
      }
    }

    &[readonly],
    &:disabled,
    &.disabled {
      color: map.get(vars.$color, text-muted);
      background-color: map.get(vars.$color, "white");
      cursor: default;

      ~ .form-label,
      &::placeholder {
        color: map.get(vars.$color, text-muted);
      }

      &:focus {
        border-color: map.get(vars.$color, border);
      }
    }

    &:focus {
      border-color: map.get(vars.$color, primary);
    }
  }

  .form-label {
    @include mixins.pxRem(font-size, 12);
    @include mixins.pxRem(line-height, 12);
    @include mixins.pxRem(left, 20);
    @include mixins.pxRem(padding, 0 4);
    @include mixins.pxRem(border-radius, 4);
    @include mixins.pxRem(top, -10);
    color: map.get(vars.$color, text-muted);
    position: absolute;
    background-color: map.get(vars.$color, white);
    display: inline-block;
    opacity: 0;
    transform: translateY(22px);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease,
      color 0.2s ease;
    pointer-events: none;
  }

  .msg-error {
    @include mixins.pxRem(padding, 3 16);
    @include mixins.pxRem(font-size, 12);
    @include mixins.pxRem(margin-top, 6);
    @include mixins.pxRem(border-radius, 5);
    color: map.get(vars.$color, danger-text);
    position: relative;
    display: block;
    background-color: map.get(vars.$color, danger-bg);

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 100%;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 6px solid
        rgba($color: map.get(vars.$color, danger), $alpha: 0.15);
    }
  }
}
