@use "sass:map";
@use "sass:list";
@use "../base/variables" as vars;

// (variant: (font-size, font-weight, line-height))
$typo-variants: (
  h1: (
    40px,
    700,
    1.6,
  ),
  h2: (
    32px,
    700,
    1.6,
  ),
  h3: (
    24px,
    600,
    1.6,
  ),
  h4: (
    20px,
    600,
    1.6,
  ),
  body-lg: (
    18px,
    500,
    1.6,
  ),
  body-md: (
    16px,
    500,
    1.6,
  ),
  body-sm: (
    14px,
    500,
    1.6,
  ),
  label-md: (
    12px,
    700,
    1,
  ),
);

@mixin apply-variant($variant) {
  $values: map.get($typo-variants, $variant);
  font-size: list.nth($values, 1);
  font-weight: list.nth($values, 2);
  line-height: list.nth($values, 3);
}

.typo {
  margin: 0;
  color: map.get(vars.$color, text-primary);

  &-h1 {
    @include apply-variant(h1);
  }
  &-h2 {
    @include apply-variant(h2);
  }
  &-h3 {
    @include apply-variant(h3);
  }
  &-h4 {
    @include apply-variant(h4);
  }
  &-body-lg {
    @include apply-variant(body-lg);
  }
  &-body-md {
    @include apply-variant(body-md);
  }
  &-body-sm {
    @include apply-variant(body-sm);
  }
  &-label-md {
    @include apply-variant(label-md);
    text-transform: uppercase;
  }

  @each $name, $color in vars.$color {
    &-color-#{$name} {
      color: $color;
    }
  }

  &-color-gradient {
    background: linear-gradient(
      135deg,
      map.get(vars.$color, primary),
      map.get(vars.$color, secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &-align-left {
    text-align: left;
  }
  &-align-center {
    text-align: center;
  }
  &-align-right {
    text-align: right;
  }
}
