@use 'sass:map';
@use '../base/mixins';
@use '../base/variables';

.footer {
  @include mixins.pxRem(font-size, 24);
  height: 64px;
  border-top: 1px solid map.get(variables.$color, grey-c);
  color: map.get(variables.$color, black);
}
