.articles-page {
  max-width: 90%;
  .article-list {
    .article-item {
      @include pxRem(border-radius, 5);
      border: 1px solid map-get($color, blue);

      .article-title {
        @include pxRem(font-size, 20);
        .article-link {
          text-decoration: none;
          color: map-get($color, black);
          &:hover {
            color: map-get($color, primary);
          }
        }
      }
      .article-content {
        @include pxRem(font-size, 16);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: map-get($color, grey-b);
      }
    }
  }
}
