@use 'sass:map';
@use '../base/mixins';
@use '../base/variables';

.articles-page {
  max-width: 90%;
  .article-list {
    .article-item {
      @include mixins.pxRem(border-radius, 5);
      border: 1px solid map.get(variables.$color, blue);

      .article-title {
        @include mixins.pxRem(font-size, 20);
        .article-link {
          text-decoration: none;
          color: map.get(variables.$color, black);
          &:hover {
            color: map.get(variables.$color, primary);
          }
        }
      }
      .article-content {
        @include mixins.pxRem(font-size, 16);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: map.get(variables.$color, grey-b);
      }
    }
  }
}
