#root {
  margin: 0 auto;
  text-align: center;
}

.pages-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  align-items: center;
  min-height: calc(100vh - 130px);
}
