@use "sass:map";
@use "../base/variables";

.error-icon {
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}

.error-message {
  color: map.get(variables.$color, red);
  font-size: 24px;
  margin-bottom: 20px;
}
