@use "sass:map";
@use "../base/mixins";
@use "../base/variables";

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  @include mixins.pxRem(height, 300);
  @include mixins.pxRem(width, 300);
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo {
  &:hover {
    filter: drop-shadow(0 0 2em map.get(variables.$color, pimary));
  }
  &.react {
    &:hover {
      filter: drop-shadow(0 0 2em map.get(variables.$color, blue));
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: map.get(variables.$color, grey-b);
}

.pages-container {
  font-size: 2em;
}
